
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<OnlineFoodOrderingSystem.Models.Entities.FoodPlace>



<div class="container" id="container">
    @foreach (var item in Model)
    {
        <a asp-controller="Categories" asp-action="Products" asp-route-id="@item.Id" class="nav-link">
            <div class="card" style="width: 18rem;">
                <span hidden id="productId">@item.Id</span>
                <img src="@item.FoodPictureUrlPath" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="navbar" id="text">@item.Name</h5>
                    <img id="imageFast" src="@item.BrandPictureUrlPath" />
                </div>
                <small id="small" class="nav-link text-dark">@item.SmallDescription &hearts; Chicken</small>
            </div>
        </a>
    }
</div>

<link href="~/css/place.css" rel="stylesheet" />

