
@{
    ViewData["Title"] = "Products";
}

@model IEnumerable<OnlineFoodOrderingSystem.Models.Entities.Product>

<h1 class="text-black-50 text-center">Welcome to ProductList</h1>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Products</h2>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Product Price
                    </th>
                    <th class="text-md-center">
                        ...
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-capitalize">
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td class="text-md-center">@item.Price &#36</td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <button asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@item.Id" data-id="@item.Id" id="addBtn" onclick="addItem(@item.Id)" class="btn btn-success mx-1 "> Add To Cart </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="text-black-50 text-center">No items created yet</h2>
    }
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function addItem(id) {
        $.ajax({
            url: "/Cart/AddToCart/" + id,
            type: "POST",
            contentType: 'application/json',
            success: function () {
                alert("Successfully added!")
            }
        })
    }
</script>


