
@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<OnlineFoodOrderingSystem.Models.ProductCart>

<h1 class="text-black-50 text-center">Welcome to Cart</h1>

<div class="container p-3">
    <div class="row pt-4">
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        ...
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-capitalize">
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td class="text-md-center">@item.Price &#36</td>
                        <td class="text-md-center">@item.Quantity</td>
                        <td class="text-md-center">@item.Total &#36</td>
                        <td>
                            <div class="w-100 btn-group" role="group">
                                <a asp-controller="Cart" asp-action="Minus" asp-route-Id="@item.Id" class="btn btn-info mx-1 fa fa-minus "> </a>
                                <a asp-controller="Cart" asp-action="Plus" asp-route-Id="@item.Id" class="btn btn-info fa fa-plus "> </a>
                                <a asp-controller="Cart" asp-action="Remove" asp-route-Id="@item.Id" class="btn btn-danger mx-1 "> Remove </a>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <h5 class="offset-8">Total: @Model.Sum(x => x.Quantity * x.Price) &#36</h5>
    }
    else
    {
        <h2 class="text-black-50 text-center">No items created yet</h2>
    }
</div>





