@model Entities.Models.Entities.Order

@{
    ViewData["Title"] = "ManageStatus";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div style="margin-left: 250px;" class="card w-75 p-5">
        <div class="card-header" style="margin-top: 60px;">
            <h2>Manage Status</h2>
            Change Order Status
        </div>
        <div class="card-body">            
            <input hidden asp-for="@Model.FirstName" />
            <input hidden asp-for="@Model.LastName" />
            <input hidden asp-for="@Model.PaymentType" />
            <input hidden asp-for="@Model.DeliverType" />
            <input hidden asp-for="@Model.CreatedOn" />
            <input hidden asp-for="@Model.Adress" />
            <input hidden asp-for="@Model.Email" />
            <input hidden asp-for="@Model.PhoneNumber" />
            <input hidden asp-for="@Model.Total" />
            <select class="custom-select mr-sm-2 w-50" id="status" asp-for="@Model.Status">
                @for (int i = 0; i < ViewBag.EnumValues.Length; i++)
                {
                    if (Model.DeliverType.Contains("Pick Up"))
                    {
                        while (i <= 2)
                        {
                            <option value="@ViewBag.EnumValues[i]">@ViewBag.EnumValues[i]</option>
                            break;
                        }
                    }
                    else
                    {                       
                        <option value="@ViewBag.EnumValues[i]">@ViewBag.EnumValues[i]</option>
                    }

                }
            </select>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="OrderList"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>


