@model IEnumerable<Entities.Models.Entities.Order>

    @{
        ViewData["Title"] = "OrderList";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <div class="home-section">
        <h1 class="text-black-50 text-center">Welcome to OrderList</h1>

        <div class="container p-3">
            <br />
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                FullName
                            </th>
                            <th>
                                Ordered Time
                            </th>
                            <th>
                                Deliver Type
                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.CreatedOn</td>
                                <td>@item.DeliverType</td>
                                <td>@item.Total $</td>
                                <td>
                                    <div class="w-100 btn-group" role="group">
                                        <a asp-controller="Admin" asp-action="OrderDetails" asp-route-Id="@item.Id" class="btn btn-success mx-1 "> Details </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h2 class="text-black-50 text-center">No items created yet</h2>
            }
        </div>

    </div>

